.bottle-section {
  margin-top: 4rem;
  // height: 33rem;
  background: rgb(224, 223, 223);
  background: linear-gradient(
    0deg,
    rgba(224, 223, 223, 1) 21%,
    rgba(246, 246, 246, 1) 44%
  );
  margin-bottom: 7rem;
  @include media-breakpoint-down(md) {
    .row {
      flex-direction: column-reverse;
    }
  }
  .bottle-img {
    padding: 35px;
    img {
      width: 100%;
    }
    @include media-breakpoint-down(lg) {
      padding: 0px;
    }
    @include media-breakpoint-down(md) {
      padding: 0rem;
    }
  }
  .bottle-text {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    h6 {
      letter-spacing: 0.3rem;
      font-size: 15px;
      font-weight: 800;
      color: #d19836;
      @include media-breakpoint-down(md) {
        margin-top: 2rem;
      }
    }
    h2 {
      font-size: 2.8rem;
      font-weight: 700;
    }
    p {
      padding-right: 2rem;
    }
  }
  .boxes {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 6rem;
    justify-content: flex-start;
    .product-box1 {
      // width: 17.5rem;
      // height: 11rem;
      background-color: brown;
      margin-right: 1.5rem;
      border-radius: 5%;
      background-color: white;
      box-shadow: 1px 0px 4px lightgrey;
      .first-object-img {
        background-color: #e3c276d9;
        border-radius: 50%;
        padding: 0.8rem;
        display: flex;
        justify-content: center;
        img {
          width: 80%;
          @include media-breakpoint-down(lg) {
            width: 80%;
          }
        }
        @include media-breakpoint-down(lg) {
          padding: 0.2rem;
        }
        @include media-breakpoint-down(md) {
          padding: 1.5rem;
        }
      }
      .first-object-heading {
        h6 {
          font-weight: 800;
        }
      }
      .first-object-text {
        margin-top: 4px;
        ul {
          li {
            font-size: 0.9rem;
          }
        }
      }
      @include media-breakpoint-down(md) {
        .row {
          flex-direction: inherit;
        }
      }
    }
    .product-box2 {
      // width: 17.5rem;
      // height: 11rem;
      background-color: burlywood;
      margin-left: 1.5rem;
      border-radius: 5%;
      background-color: white;
      box-shadow: 1px 1px 6px lightgrey;
      .first-object-img {
        background-color: #e3c276d9;
        border-radius: 50%;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        img {
          width: 80%;
          @include media-breakpoint-down(lg) {
            width: 90%;
          }
          @include media-breakpoint-down(md) {
            width: 80%;
          }
        }
        @include media-breakpoint-down(lg) {
          padding: 0.1rem;
        }
        // @include media-breakpoint-down(md) {
        //   padding: 0rem;
        // }
      }
      .first-object-heading {
        h6 {
          font-weight: 800;
        }
      }
      .first-object-text {
        margin-top: 4px;
        ul {
          li {
            font-size: 0.9rem;
          }
        }
      }
      @include media-breakpoint-down(md) {
        .row {
          flex-direction: inherit;
        }
      }
    }
    @include media-breakpoint-down(lg) {
      position: inherit;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }
  }
}
