.derma-reviews-section {
  margin-bottom: 4rem;
  .derma-reviews-img {
    background-color: #e7e7e7;
    border-radius: 50%;
    // position: relative;
    // overflow: hidden;
    // width: 22.2rem;
    // height: 23rem;
    img {
      width: 100%;
      // position: relative;
      // right: 1rem;
      border-radius: 50%;
    }
  }
  .derma-reviews-text {
    h6 {
      letter-spacing: 0.3rem;
      font-size: 15px;
      font-weight: 800;
      color: #d19836;
      margin-bottom: 1rem;
    }
    h1 {
      font-size: 2.8rem;
      font-weight: 700;
      padding-right: 5px;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}
