.percentage-section {
  margin-bottom: 6rem;

  .circle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .first {
      width: 11rem;
      height: 11rem;
      border: solid;
      border-radius: 50%;
      background-color: white;

      h2 {
        font-size: 4.7rem;
        font-weight: 700;
        margin: 27px 0px 0px 11px;

        @include media-breakpoint-down(sm) {
          font-size: 3rem;
          margin: 20px 0px 0px 6px;
        }
      }

      p {
        font-size: 2rem;
        font-weight: 500;
        margin: -16px 0px 0px 48px;

        @include media-breakpoint-down(sm) {
          font-size: 1.3rem;
          margin: -10px 0px 0px 28px;
        }
      }

      @include media-breakpoint-down(sm) {
        width: 7rem;
        height: 7rem;
      }
      @include media-breakpoint-down(md) {
        margin-right: 1rem;
      }
    }

    .second {
      width: 11rem;
      height: 11rem;
      border: solid;
      border-radius: 50%;
      background-color: white;

      h2 {
        font-size: 4.7rem;
        font-weight: 700;
        margin: 27px 0px 0px 11px;

        @include media-breakpoint-down(sm) {
          font-size: 3.5rem;
          font-size: 3rem;
          margin: 20px 0px 0px 6px;
        }
      }

      p {
        font-size: 2rem;
        font-weight: 500;
        margin: -16px 0px 0px 48px;

        @include media-breakpoint-down(sm) {
          font-size: 1.3rem;
          margin: -10px 0px 0px 28px;
        }
      }

      @include media-breakpoint-down(sm) {
        width: 7rem;
        height: 7rem;
      }
      @include media-breakpoint-down(md) {
        margin-right: 1rem;
      }
    }

    .third {
      width: 11rem;
      height: 11rem;
      border: solid;
      border-radius: 50%;
      background-color: white;

      h2 {
        font-size: 4.7rem;
        font-weight: 700;
        margin: 27px 0px 0px 11px;

        @include media-breakpoint-down(sm) {
          font-size: 3rem;
          margin: 20px 0px 0px 6px;
        }
      }

      p {
        font-size: 2rem;
        font-weight: 500;
        margin: -16px 0px 0px 48px;

        @include media-breakpoint-down(sm) {
          font-size: 1.3rem;
          margin: -10px 0px 0px 28px;
        }
      }

      @include media-breakpoint-down(sm) {
        width: 7rem;
        height: 7rem;
      }
      @include media-breakpoint-down(md) {
        margin-right: 1rem;
      }
    }

    .circle-text {
      h5 {
        font-weight: 500;
        margin: 36px 0px 0px 26px;

        @include media-breakpoint-down(sm) {
          margin: 18px 0px 0px 14px;
          font-size: 0.8rem;
        }
      }

      p {
        font-size: 13px;
        font-weight: 500;
        margin: 0px 0px 0px 37px;

        @include media-breakpoint-down(sm) {
          font-size: 10px;
          margin: 0px 0px 0px 15px;
        }
      }
    }
  }
}
