.resident-doctor-section {
  margin-bottom: 5rem;

  .resident-doctor-background {
    background-color: #faebd7ba;
    border-radius: 40px;
    padding: 4rem 2rem 4rem 3rem;

    .resident-doctor-text {
      h6 {
        letter-spacing: 0.3rem;
        font-size: 15px;
        font-weight: 800;
        color: #d19836;
        margin-bottom: 1rem;
      }

      h1 {
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        @include media-breakpoint-down(sm) {
          font-size: 2rem;
        }
      }
      h5 {
        font-weight: 700;
      }

      p {
        font-size: 1.1rem;
      }
    }

    .resident-doctor-img {
      display: flex;
      justify-content: center;

      img {
        width: 80%;
      }
    }
  }
}
