.section-hero {
  margin-bottom: 4rem;
  height: 33rem;
  background: rgb(224, 223, 223);
  background: linear-gradient(
    0deg,
    rgba(224, 223, 223, 1) 21%,
    rgba(246, 246, 246, 1) 44%
  );
  .hero-container {
    padding-top: 2.5rem;
    .top-text {
      font-size: 20px;
    }
    h1 {
      font-size: 3.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    .stars-img {
      margin-top: 7.5rem;
    }
    .hero-imgs {
      .model-img {
        position: relative;
        bottom: 4.8rem;
        img {
          width: 100%;
        }
      }
      .hero-badge {
        position: absolute;
        top: 31rem;
        right: 11rem;
      }
    }
  }
}
